.ManageConcerts {
  background: url(../slike/koncertslika.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed; 
  width: 100%;
  min-height: 100vh; 
  position: relative; 
}

.naslovManc{
  font-size: 35px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}
#ManageConcerts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.concertManc{
  display: flex;
  align-items: stretch;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
  flex-direction: row-reverse;
}
.concertManc-image {
  flex: none;
  width: 400px;
  height: 335px;
}

.concertManc img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.concertManc-details {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.concertManc-details h3 {
  margin: 0 0 10px;
  color: rgba(9, 51, 26, 0.937);
  font-size: 22px;
}

.concertManc-details p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.buttonManc {
  background-color: rgba(9, 51, 26, 0.937);
  color: #ffffff;
  border: none;
  padding: 2px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.4s ease;
  margin-top: 25px;
  width: 130px;
  height: 30px;
}

.deleteManc{
  background-color: #4d1818;
  color: #ffffff;
  border: none;
  padding: 2px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.4s ease;
  margin-top: 25px;
  width: 130px;
  height: 30px;
}

.deleteManc:hover{
  color: #792727;
  border: 1px solid #792727;
  background-color: white;
}

.buttonManc:hover {
  color:  rgba(9, 51, 26, 0.937);
  border: 1px solid  rgba(9, 51, 26, 0.937);
  background-color: white;
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content h4 {
  margin-bottom: 20px;
}
