.concert {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background-color: #f9f9f9;
  width: 100%; 
  max-width: 100%;
  display: flex;
  flex-direction: column; /* Vertikalni raspored unutar kartice */
}

.concert-image{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.concert-details {
  flex-grow: 1;
  color: #333;
}

.concert-details h3 {
  margin: 0;
  font-size: 18px;
  color: rgba(9, 51, 26, 0.937);
}

.concert-details p {
  margin: 8px 0;
  font-size: 15px;
}


.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 kolone u svakom redu */
  gap: 20px; 
  padding: 20px;
  justify-content: center;
}

#concerts-container {
  overflow: hidden;
  background: url(../slike/koncertslika.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed; 
  width: 100%;
  height: 100%;
  position: relative; 
}


.concert-image img {
  width: 100%; 
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}


.naslovConcerts{
    color: rgba(255, 255, 255, 0.937);
    margin-bottom: 10px; 
    text-align: center;
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}



/* Responsive dizajn za manje ekrane */
@media (max-width: 768px) {
  #concerts-container {
    grid-template-columns: repeat(3, 1fr); /* 2 kolone na manjim ekranima */
  }
}

@media (max-width: 480px) {
  #concerts-container {
    grid-template-columns: 1fr; /* 1 kolona na veoma malim ekranima */
  }
}


.addtofav {
  background-color: rgba(9, 51, 26, 0.937);
  color: #ffffff;
  border: none;
  padding: 2px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.4s ease;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  height: 35px;
  text-align: center;
}

.addtofav:hover {
  color: rgba(9, 51, 26, 0.937);
  border: 1px solid rgba(9, 51, 26, 0.937);
  background-color: white;
}

.removefromfav {
  font-size: 12px;
  background-color: #4d1818;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.4s ease;
  width: 180px;
  height: 35px;
  text-align: center;
}

.removefromfav:hover {
  color: #792727;
  border: 1px solid #792727;
  background-color: white;
}

.buttongroupMU {
  display: flex;
  flex-direction: column; /* Arrange buttons vertically */
  justify-content: center;
  align-items: center; /* Center buttons horizontally */
}  