.MyConcerts {
  background: url(../slike/koncertslika.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed; 
  width: 100%;
  min-height: 100vh; 
  position: relative; 
}



#concerts-containerMC {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.concertMC {
  display: flex;
  align-items: stretch;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 20px;
  flex-direction: row-reverse;
}

.concert-imageMC {
  flex: none;
  width: 400px;
  height: 335px;
}

.concertMC img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.concert-detailsMC {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.concert-detailsMC h3 {
  margin: 0 0 10px;
  color: rgba(9, 51, 26, 0.937);
  font-size: 22px;
}

.concert-detailsMC p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}

.NCF {
  font-size: 35px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.naslovMyConc {
  font-size: 35px;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

.deleteMC {
  background-color: #4d1818;
  color: #ffffff;
  border: none;
  padding: 2px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.4s ease;
  margin-top: 25px;
  width: 130px;
  height: 30px;
}

.deleteMC:hover {
  color: #792727;
  border: 1px solid #792727;
  background-color: white;
}

.buttonEdit{
  background-color:  rgba(9, 51, 26, 0.937);
  color: #ffffff;
  border: none;
  padding: 2px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.4s ease;
  margin-top: 25px;
  width: 130px;
  height: 30px;
}

.buttonEdit:hover {
  color:  rgba(9, 51, 26, 0.937);
  border: 1px solid  rgba(9, 51, 26, 0.937);
  background-color: white;
}