.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f5f5f5; /* Optional: background color for the entire page */
}

.form-wrapper {
    background-color: white;
    padding: 40px;
    border-radius: 60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.buttonV {
    background-color: rgba(9, 51, 26, 0.937);
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 20px;
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    font-size: 16px;
}
.inputV{
    margin: 3px 0;
    font-size: 10px;
    padding: 8px;
    width: 90%; 
    border: 1px solid rgb(10, 180, 44);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(9, 9, 9, 0.059);
    color: rgb(21, 82, 48);
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.buttonV:hover {
    background-color: white;
    color:rgb(61, 193, 121)
}

p {
    margin-top: 10px;
}

.verifynaslov{
    color: rgba(16, 125, 60, 0.937);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
}