.concertCD {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: #f9f9f9;
    width: 100%; 
    max-width: 100%;
    display: flex;
    flex-direction: column; /* Vertikalni raspored unutar kartice */
}

.concertCD:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.concert-imageCD {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.concert-detailsCD {
    flex-grow: 1;
    color: #333;
}

.concert-detailsCD h3 {
    margin: 0;
    font-size: 18px;
    color: rgba(9, 51, 26, 0.937);
}

.concert-detailsCD p {
    margin: 8px 0;
    font-size: 15px;
    
}

.buyticketsbutton {
    text-decoration: none;
    color: #1DB954;
    font-weight: bold;
    margin-top: 15px;
    display: inline-block;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.concert-detailsCD a:hover {
    color: #1DB954;
    transform: translateY(-2px);
}

.concertCD img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

#concerts-containerCD {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 kolone u svakom redu */
  gap: 20px; 
  padding: 20px;
  justify-content: center; /* Centriranje sadržaja */
}

.ConcertDetailsBody{
    background: url(../slike/koncertslika.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed; 
  width: 100%;
  min-height: 100vh; 
  position: relative; 
}

@media (max-width: 768px) {
    #concerts-containerCD {
      grid-template-columns: repeat(3, 1fr); /* 2 kolone na manjim ekranima */
    }
  }
  
  @media (max-width: 480px) {
    #concerts-containerCD {
      grid-template-columns: 1fr; /* 1 kolona na veoma malim ekranima */
    }
  }